<mat-accordion>
  <div class="expancil" *ngFor="let parking of parkings">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ parking.placa }}
        </mat-panel-title>
        <mat-panel-description>
          {{ parking.modelo }}
        </mat-panel-description>
        <div class="status">
          <mat-icon style="color: #1144ef" *ngIf="parking.valor"> task_alt </mat-icon>
          <mat-icon style="color: #fb4e4e" *ngIf="parking.valor === null"> highlight_off </mat-icon>
          <span>
            {{ parking.valor ? "Veículo pago" : "Não pago" }}
          </span>
        </div>
      </mat-expansion-panel-header>
      <p>{{ parking.dataentrada }}</p>
      <p>{{ parking.datasaida }}</p>
      <p>{{ parking.tempo }}</p>
      <p>{{ parking.valor | currency: 'BRL':'symbol' }}</p>
    </mat-expansion-panel>
  </div>
</mat-accordion>

