<mat-accordion>
  <div class="expancil">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DRE4R55
        </mat-panel-title>
        <mat-panel-description>
          GOLF
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FGR5T45
      </mat-panel-title>
      <mat-panel-description>
        ASTRA
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>

