<ng-container *ngIf="parking">
  <header>
    <h1>Deseja fazer Check-out?</h1>
  </header>
  <div>
    <span>Placa</span>
    <h2>{{ parking.placa }}</h2>
    <span>Modelo</span>
    <h2>{{ parking.modelo }}</h2>
    <span>entrada</span>
    <h2>{{ parking.dataentrada }}</h2>
  </div>
  <div *ngIf="valor > 0">
    <span>Valor</span>
    <h3>{{ valor  | currency: 'BRL':'symbol'}}</h3>
    <span>Saida</span>
    <!-- <ng-container *ngIf="parking.datasaida"> -->
      <h3>{{ saida }}</h3>
    <!-- </ng-container> -->
    <span>Tempo</span>
    <h3>{{ tempo }}</h3>
  </div>
</ng-container>
<div class="buttons">
  <button mat-button style="color: #00000099" mat-dialog-close>SAIR</button>
  <button mat-stroked-button color="primary" (click)="checkout(parking.id)">FINALIZAR</button>
</div>

