.example-card {
  max-width: 400px;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.header {
  display: grid;
  justify-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  display: flex;
  justify-content: center;
}
