<div class="cards" *ngIf="parkings.length">
  <mat-card class="example-card" *ngFor="let item of parkings">
    <mat-card-header class="header">
      <div class="header-text">
        <mat-card-title>{{ item.placa }}</mat-card-title>
        <mat-card-subtitle>{{ item.modelo }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <span>entrada:</span>
      <p class="data">{{ item.dataEntrada }}</p>
      <div *ngIf="item.valor">
        <span>saida:</span>
        <p class="data">{{ item.datasaida }}</p>
        <span>Tempo:</span>
        <p class="data">{{ item.tempo }}</p>
        <span>VALOR PAGO: {{ item.valor | currency: 'BRL':'symbol' }}</span>
      </div>


    </mat-card-content>
    <mat-card-actions *ngIf="!item.valor">
      <button mat-stroked-button color="warn" (click)="checkout(item)">CHECK-OUT</button>
      <button mat-stroked-button color="accent">EDITAR</button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-fab color="primary" (click)="crieParking()" class="add-btn" matTooltip="Inserir veiculo">
  <mat-icon>add</mat-icon>
</button>
